html, body {
    margin: 0;
    padding: 0;
  }
  
  .jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background: url(https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y3J5cHRvY3VycmVuY3l8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80) center center;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 0;
  }
  
  .jumbotron h1 {
    font-size: 70px;
    margin-bottom: 0;
  }
  
  .jumbotron p {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 30px;
  }
  
  .button {
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #fff;
    color: #000;
  }

  .filter {
    background-color: #0000008a;
  }